/* centered columns styles */
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;

	vertical-align: top;
}
.media:first-child{
	margin-top: 15px;
}
.navbar-form .form-group {
	margin-left: 20px;
}
.book {
	/*border: 1px solid red;*/
}
.book:nth-child(odd){
	clear: left;
}
.book__image {
	width: 98px;
}